streamlit>=1.29 #frontend  framwork for webpages
supabase>=2.0.2 #supabase client for database operations
fastapi>=0.104.1 #backend framework for APIs
uvicorn>=0.24.0 #ASGI server for running FastAPI applications
# pydantic>=2.10.9
python-dotenv>=1.0.0 #to load environment variables from .env file
# httpx>=0.24.1
# requests>=2.32.3
# openai>=0.27.8
# langchain>=0.0.208
# chromadb>=0.3.28
# tiktoken>=0.4.0
# beautifulsoup4>=4.12.2
# lxml>=4.9.3
# google-api-python-client>=2.100.0
# google-auth>=2.22.0
# google-auth-httplib2>=0.1.0
# google-auth-oauthlib>=1.0.0
# pandas>=2.1.4
# numpy>=1.26.4